{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}Dashboard{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
</head>
<body>

  <!-- Sidebar -->
  <div class="sidebar" id="sidebar">
    <a href="{% url 'dashboard' %}">
      <h2>Dashboard</h2>
    </a>
    <ul>
      <li><a href="{% url 'dashboard-tags' %}">Tags</a></li>
      <li><a href="{% url 'dashboard-categories' %}">Categories</a></li>
      <li><a href="{% url 'dashboard-posts' %}">Posts</a></li>
    </ul>
  </div>
  <button class="toggle-btn" id="toggle-btn">☰</button>

  <!-- Main Content -->
  <div class="main-content" id="main-content">
    <header>{% block header %}Dashboard{% endblock %}</header>

    <main>
      {% block content %}
      {% endblock %}
    </main>
  </div>

  <script src="{% static 'js/dashboard.js' %}"></script>
</body>
</html>
